div {
  color: black;
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

button {
  color: white;
  background-color: green;
  padding: 0.6em 1.2em;
  margin: 10px;
  border-radius: 1em;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: #747bff;
    color: white;
  }
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}


